.normal-enter {
	opacity: 0;
	z-index: -99;
}

.normal-enter .top {
	transform: translate3d(0, -100px, 0);
}

.normal-enter .bottom {
	transform: translate3d(0, 100px, 0);
}

.normal-enter-active {
	opacity: 1;
	z-index: 100;
	transition: all 400ms;
}

.normal-enter-active .top {
	transition: all 400ms;
	transform: translate3d(0, 0, 0);
}

.normal-enter-active .bottom {
	transition: all 400ms;
	transform: translate3d(0, 0, 0);
}

.normal-enter-done {
	opacity: 1;
}

.normal-enter-done .top {
	transform: translate3d(0, 0, 0);
}

.normal-enter-done .bottom {
	transform: translate3d(0, 0, 0);
}

.normal-exit {
	opacity: 1;
	z-index: 100;
}

.normal-exit-active {
	opacity: 0;
	transition: all 400ms;
	z-index: -99;
}

.normal-exit-done {
	opacity: 0;
	z-index: -99;
}

/***********************************************/
.mini-enter {
	opacity: 0;
	z-index: -99;
}

.mini-enter-active {
	opacity: 1;
	z-index: 100;
	transition: all 200ms;
}

.mini-enter-done {
	opacity: 1;
	z-index: 100;
}

.mini-exit {
	opacity: 1;
	z-index: 100;
}

.mini-exit-active {
	opacity: 0;
	transition: all 200ms;
	z-index: -99;
}

.mini-exit-done {
	opacity: 0;
	z-index: -99;
}

.cd-wrapper .play {
	transform-origin: center;
}

.cd-wrapper::after {
	content: '';
	width: 192px;
	height: 274px;
	position: absolute;
	top: -150px;
	left: 0px;
	background: url('https://s3.music.126.net/m/s/img/needle.png?702cf6d95f29e2e594f53a3caab50e12') no-repeat center/contain;
	transform: rotate(-20deg);
	transform-origin: 24px 10px;
	transition: transform .5s ease-in-out;
}

.playing .cd-wrapper::after {
	transform: rotate(-14deg);
}